<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="number" id="id" formControlName="id" />
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    <select id="author" formControlName="author">
      <option *ngFor="let author of authorsArray" [ngValue]="author">
        {{author.nickname}}
      </option>
    </select>
  </div>


  <div class="form-group">
    <label for="body">Body</label>
    <textarea type="text" id="body" formControlName="body"></textarea>
  </div>

  <div class="form-group">
    <label for="likes">Likes</label>
    <input type="number" id="likes" formControlName="likes" />
  </div>

  <button type="submit">Submit</button>

  <button type="button" (click)="navigateToCommentsList()">Back to List</button>
</form>
