.is-even {
  background-color: lightblue;
  display: block;
}

.is-odd {
  background-color: lightgoldenrodyellow;
  display: block;
}

section {
  padding-bottom: 10px;
  border-bottom: 1px black solid;
}
.selectedComment {
  background-color: linen;
  display: block;
}
